@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);

    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --young-serif-font: "Young Serif", serif;
    --outfit-font: "Outfit", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--stone-100);
}

/* COMMON */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--young-serif-font);
    font-weight: 400;
}

p,
li,
td {
    font-family: var(--outfit-font);
    color: var(--stone-600);
    font-size: 14px;
}

.mb-4 {
    margin-bottom: 1em;
}

.mb-6 {
    margin-bottom: 1.5em;
}

.mb-8 {
    margin-bottom: 2em;
}

/* MAIN */
.main {
    width: min(700px, 95%);
    overflow: hidden;
    margin-block: 6em;
    border-radius: 20px;
    background-color: var(--white);
    padding: 3em;
}

/* TOP SECTION */
.top-section {
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.top-section img {
    border-radius: 20px;
}

.prep-section {
    background-color: var(--rose-50);
    padding: 1.5em;
    border-radius: 10px;
}

.prep-section h3 {
    font-family: var(--outfit-font);
    font-weight: 600;
    color: var(--rose-800);
    margin-bottom: 10px;
}

.prep-section ul {
    margin-left: 1em;
}

.prep-section ul li {
    text-indent: 1em;
    margin-bottom: 5px;
}

/* INGREDIENTS SECTION */
.ingredients-section {}

.list-section h2 {
    color: var(--brown-800);
    margin-bottom: 10px;
}

.list-section ul{
    margin-left: 1em;
}

.list-section ul li {
    text-indent: 1em;
    margin-bottom: 5px;
}

.list-section ol {
    list-style: none;
    counter-reset: item;
    margin-left: 2.5em;
}

.list-section ol li {
    counter-increment: item;
    margin-bottom: 5px;
    text-indent: -2em;
}

.list-section ol li:before {
    margin-right: 10px;
    content: counter(item)". ";
    border-radius: 100%;
    color: var(--brown-800);
    width: 1.2em;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

.nutrition-section .description {
    margin-bottom: 10px;
}

.nutrients-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrients-table td {
    border-bottom: 1px solid var(--stone-150);
    padding: 1em 0 10px 1em;
}

.nutrients-table tr td:nth-child(2) {
    font-weight: bold;
    color: var(--brown-800);
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
}